
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Space Mono', monospace;
  background-color: #C5E4E7;
}

input {
  caret-color:#26C2AE;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
